<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Material Design for Bootstrap</title>

    <!-- Material Design Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Material Design Bootstrap -->
    <link href="../css/mdb.css" rel="stylesheet">

    <!-- Angular -->
    <script type="text/javascript" src="../js/angular.min.js"></script>
    <script type="text/javascript" src="../js/angular-cookies.js"></script>


</head>

<body ng-app="AppQuestaoDeConcurso">
    
    
    <nav class="navbar blue">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand waves-effect waves-light" href="#">Questões</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                    <ul class="nav navbar-nav">
                        
                        <li><a href="#" class="waves-effect waves-light">Sobre</a></li>
                        
                    </ul>
                    
                    <form class="navbar-form navbar-right" role="search" ng-controller="pessoaController">
                            
                        <div class="form-group waves-effect waves-light">
                            <input type="text" class="form-control" placeholder="Login" ng-model="email">
                        </div>
                        
                        <div class="form-group waves-effect waves-light">
                            <input type="password" class="form-control" placeholder="Senha" ng-model="senha">
                        </div>
                        
                        <div class="form-group waves-effect waves-light">
                            <button type="button" class="btn btn-info"  ng-click="login()">Entrar</button>
                        </div>
                            
                    </form>
                </div>
            </div>
            </nav>
    
    <div class="row">
        
        <div class="col-md-7"></div>
        
        <div class="col-md-5 text-center">
        
            <h3 class="text-left">Ainda não participa? <br/> <small>Faça seu Cadastro</small></h3>
            
            <form class="col-md-10" ng-controller="pessoaController">

                <div class="row input-field">
                    <input placeholder="Digite seu nome" id="nome" type="text" class="validate" ng-model="nome">
                    <label for="nome">Nome</label>
                </div>
                
                <div class="row input-field">
                    <input placeholder="Digite seu e-mail" id="email" type="text" class="validate" ng-model="email">
                    <label for="email">E-Mail</label>
                </div>
                
                <div class="row input-field">
                    <input placeholder="Digite sua senha" id="senha" type="password" class="validate" ng-model="senha">
                    <label for="senha">Senha</label>
                </div>
                
                <div class="row input-field">
                    <input placeholder="Por favor, digite novamente sua senha" id="confirmacao" type="password"
                           class="validate" ng-model="confirmacao">
                    <label for="confirmacao">Confirme a senha</label>
                </div>
                
                <div class="row input-field waves-effect waves-light">
                    <button type="button" class="btn btn-info"  ng-click="cadastrar()">Cadastrar</button>
                </div>

            </form>
            
        </div>
        
    </div>


    <!--
        Questões no começo(substituir)
        -Sobre
        formulário de login

        formulário de cadastro  
    -->
    

    <!-- SCRIPTS -->

    <!-- JQuery -->
    <script type="text/javascript" src="../js/jquery.min.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>

    <!-- Material Design Bootstrap -->
    <script type="text/javascript" src="../js/mdb.js"></script>

    <!--Angular script-->
    <script src="../js/app.js"></script>
    <script src="../js/controllers/pessoa.js"></script>

</body>

</html>